---
// Component Imports
import { Apple } from '../components/apple';
import Counter from '../components/counter';
const someProperties = {
  count: 0,
};

import '../styles/global.css';
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <main>
      <Counter {...someProperties} client:visible>
        <h1 class="meow">Hello, React!</h1>
      </Counter>
      <Apple />
    </main>
  </body>
</html>
