---

---

<div class="pointer-events-none fixed left-0 top-0 z-10 h-full w-full">
  <div
    class="absolute w-full h-full bg-[url(/112.jpg)] rotate-180 opacity-15 mix-blend-multiply bg-cover"
  >
  </div>
  <div
    class="absolute w-full h-full bg-[url(/213.jpg)] opacity-15 mix-blend-multiply bg-cover bg-right-bottom"
  >
  </div>
  <div
    class="absolute w-full h-full bg-radial from-transpatent from-40% to-rose-900 opacity-10"
  >
  </div>
</div>
