---

---

<div
  class="pointer-events-none fixed left-0 top-0 z-0 size-full"
  role="presentation"
>
  <!-- Texture -->
  <div
    class="absolute size-full bg-[url(/112.jpg)] rotate-180 opacity-15 mix-blend-multiply bg-cover"
  >
  </div>
  <!-- Texture -->
  <div
    class="absolute size-full bg-[url(/213.jpg)] opacity-15 mix-blend-multiply bg-cover bg-right-bottom"
  >
  </div>
  <!-- Gradient -->
  <div
    class="absolute size-full bg-radial from-transpatent from-40% to-rose-900 opacity-10"
  >
  </div>
</div>
